{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated%}
        <p class="h2">Booking form</p>
        <form method="POST" action="{% url 'booking-form' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="room_number" class="form-label">Room number:</label>
            <input type="text" class="form-control" id="room_number" name="room_number" placeholder="example: 1A">
          </div>
        <div class="mb-3">
            <label for="start_time" class="form-label">Start time:</label>
            <input type="datetime-local" class="form-control" id="start_time" name="start_time">
          </div>
        <div class="mb-3">
            <label for="end_time" class="form-label">End time:</label>
            <input type="datetime-local" class="form-control" id="end_time" name="end_time">
          </div>   
        <button type="submit" class="button-18">Book this room</button>
        </form>

    {% else %}

    <h1>You are not authenticated</h1>

    {% endif%}

    {% endblock content %}