{% extends 'base.html' %}
{% block content %}
<ul>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"><p class="h5">Number</p></th>
                    <th scope="col"><p class="h5">Capacity</p></th>
                    <th scope="col"><p class="h5">Description</p></th>
                  </tr>
                </thead>
                <tbody>
        {% for room in rooms %}
        <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'room' room.id %}">{{ room.number }}</a></td>
                <td>{{room.capacity}}</td>
                <td>{{room.description}}</td>
              </tr>               

        {% endfor %}
</ul>
{% endblock content %}
